In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [14]:
# Read the CSV file
df = pd.read_csv('player_game_statistics_old.csv')

In [15]:
def analyze_game_popularity():
    """Analyze game popularity metrics"""
    # Games by total players
    game_stats = df.groupby('game_name').agg({
        'player_id': 'count',
        'total_games_played': 'sum',
        'total_wins': 'sum',
        'rating': 'mean',
        'churned': lambda x: (x == 'YES').mean() * 100  # Churn rate as percentage
    }).round(2)
    
    game_stats.columns = ['Total Players', 'Total Games Played', 
                         'Total Wins', 'Average Rating', 'Churn Rate (%)']
    game_stats = game_stats.sort_values('Total Players', ascending=False)
    
    return game_stats

In [16]:
def analyze_player_activity_by_country():
    """Analyze player activity metrics by country"""
    country_stats = df.groupby('country').agg({
        'player_id': 'count',
        'total_games_played': ['sum', 'mean'],
        'win_ratio': 'mean',
        'rating': 'mean',
        'churned': lambda x: (x == 'YES').mean() * 100  # Churn rate as percentage
    }).round(2)
    
    country_stats.columns = ['Total Players', 'Total Games', 'Avg Games per Player',
                           'Avg Win Ratio', 'Avg Rating', 'Churn Rate (%)']
    country_stats = country_stats.sort_values('Total Players', ascending=False)
    
    return country_stats

In [17]:
def additional_insights():
    """interesting insights"""
    insights = {
        'Player Level Distribution': df['player_level'].value_counts(),
        'Average Win Ratio by Level': df.groupby('player_level')['win_ratio'].mean(),
        'Gender Distribution': df['gender'].value_counts(),
        'Age Statistics': df['age'].describe(),
        'Correlation': df[['total_games_played', 'win_ratio', 'total_moves', 
                          'highest_score', 'rating']].corr()
    }
    
    # Calculate engagement metrics
    insights['Avg Games per Player'] = df['total_games_played'].mean()
    insights['Overall Churn Rate'] = (df['churned'] == 'YES').mean() * 100
    
    # Win ratio distribution
    insights['Win Ratio Distribution'] = df['win_ratio'].describe()
    
    return insights

In [20]:
# Generate all analyses
game_popularity = analyze_game_popularity()
display(game_popularity)

,Total Players,Total Games Played,Total Wins,Average Rating,Churn Rate (%)
game_name,,,,,
Battleship,500,3970,190,1.98,75.00
Hangman,317,2410,112,1.96,71.92
Dots and Boxes,308,2366,120,1.94,73.70
Chess,305,2270,116,1.91,73.11
Tic Tac Toe,289,2288,104,2.02,70.24
Memory Match,286,2190,113,1.86,71.68
Checkers,282,2284,99,2.05,70.57
Connect Four,282,2222,108,1.95,71.99

In [24]:
country_activity = analyze_player_activity_by_country()
display(country_activity)

,Total Players,Total Games,Avg Games per Player,Avg Win Ratio,Avg Rating,Churn Rate (%)
country,,,,,,
UK,130,971,7.47,54.71,1.94,91.54
Netherlands,120,956,7.97,53.89,1.97,72.50
Philippines,116,903,7.78,52.10,2.03,72.41
Norway,108,821,7.60,57.93,1.97,89.81
Malaysia,107,853,7.97,46.80,1.94,83.18
Nigeria,106,840,7.92,51.18,2.06,76.42
Japan,104,769,7.39,51.39,1.93,90.38
Germany,104,855,8.22,45.83,1.94,60.58
Denmark,103,815,7.91,50.30,1.98,52.43
Brazil,99,719,7.26,46.96,1.87,64.65
South Africa,95,720,7.58,52.19,1.94,86.32
Vietnam,93,766,8.24,49.06,1.90,45.16
France,93,766,8.24,50.79,2.00,81.72
Italy,90,688,7.64,48.53,1.94,70.00
Spain,90,691,7.68,53.44,2.04,88.89
Ireland,87,715,8.22,50.67,1.92,42.53
Russia,87,669,7.69,58.94,1.92,70.11
India,79,619,7.84,54.85,1.91,93.67
Canada,76,559,7.36,56.39,1.97,85.53
South Korea,73,562,7.70,54.38,2.00,84.93
China,71,584,8.23,51.46,2.08,63.38
Australia,71,558,7.86,53.17,1.94,83.10
Sweden,67,533,7.96,49.75,2.00,55.22
Mexico,66,499,7.56,52.14,1.82,46.97
New Zealand,63,470,7.46,54.34,1.92,63.49
Finland,61,487,7.98,48.89,2.03,62.30
Indonesia,56,425,7.59,53.08,1.80,80.36
Thailand,53,404,7.62,50.85,1.87,73.58
USA,52,399,7.67,57.44,2.10,67.31
Singapore,49,384,7.84,48.86,1.98,40.82

In [19]:
# Create visualizations
plt.style.use('seaborn')
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [ ]:
# 1. Game Popularity
game_popularity['Total Players'].head(10).plot(kind='bar', ax=axes[0,0])
axes[0,0].set_title('Top 10 Most Popular Games')
axes[0,0].set_xlabel('Game')
axes[0,0].set_ylabel('Number of Players')

In [ ]:
# 2. Player Distribution by Country
country_activity['Total Players'].head(10).plot(kind='bar', ax=axes[0,1])
axes[0,1].set_title('Top 10 Countries by Player Count')
axes[0,1].set_xlabel('Country')
axes[0,1].set_ylabel('Number of Players')

In [ ]:
# 3. Player Level Distribution
df['player_level'].value_counts().plot(kind='pie', ax=axes[1,0], autopct='%1.1f%%')
axes[1,0].set_title('Player Level Distribution')

In [ ]:
# 4. Win Ratio by Player Level
df.groupby('player_level')['win_ratio'].mean().plot(kind='bar', ax=axes[1,1])
axes[1,1].set_title('Average Win Ratio by Player Level')
axes[1,1].set_xlabel('Player Level')
axes[1,1].set_ylabel('Average Win Ratio')

In [ ]:
plt.tight_layout()

In [ ]:
# Print summary statistics
print("\n=== Most Popular Games ===")
print(game_popularity.head())

In [ ]:
print("\n=== Player Activity by Country ===")
print(country_activity.head())

In [ ]:
print("\n=== Additional Insights ===")
for key, value in additional_insights.items():
    print(f"\n{key}:")
    print(value)